@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font: 'Poppins', sans-serif;
  --font-display: 'Poppins', sans-serif;
}
html { scroll-padding-top: 68px; }
@media (min-width: 768px) { html { scroll-padding-top: 105px; } }

@layer base {
  body {
    font-family: var(--font);
    background-color: oklch(96.7% 0.003 264.542);
    color:oklch(13% 0.028 261.692);
    transition: background-color 0.3s ease;
  }

  .dark body {
    background-color: oklch(13% 0.028 261.692);
    color: oklch(96.7% 0.003 264.542);
  }
  button, a {
    cursor: pointer;
  }
  .btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600 text-white font-semibold py-3 rounded-xl transition-colors;
}
}